{% extends 'base.html' %} {% block title %}
<title>Login</title>

{% endblock title %} {% block content %}

<div class="container" style="margin-top: 80px">
  <br />
  {% include 'messages.html' %}
  <form
    action="{% url 'login' %}"
    id="login_form"
    method="POST"
    style="margin: auto"
  >
    <div
      style="
        width: 350px;
        height: 450px;
        margin: auto;
        border: 1px solid #2d2e30;
        border-radius: 2%;
        background-color: white;
      "
    >
      {% csrf_token %}
      <div
        class="content2"
        style="
          margin: 30px;
          margin-right: 30px;
          text-align: center;
          background-color: white;
        "
      >
        <h1>Log In</h1>
        <br />
        <br />
        <input
          type="text"
          class="form-control"
          name="username"
          placeholder="Username"
          style="margin-top: 10px"
          autocomplete="off"
        />

        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Password"
          style="margin-top: 10px"
          autocomplete="off"
        />
        <button
          style="margin-top: 20px"
          type="submit"
          style="margin-top: 10px"
          name="login_btn"
          class="btn btn-primary"
        >
          Log In
        </button>
        <br />
        <hr />
        <h6>
          Don't have an account? <a href="{% url 'register' %}"> Register</a>
        </h6>
      </div>
    </div>
  </form>
</div>
<br />
<br />
{% endblock content %}
