{% extends 'base.html' %} {% block title %}
<title>{{movie.title}}</title>
{% endblock title %} {% block content %}

<div class="container" style="margin-top: 80px;">
  <a type="button" class="btn btn-danger" name="delete_btn" href="{% url 'delete' movie.title %}" style="float:right; margin-left:10px">Delete</a>
  <a type="button" class="btn btn-success" name="update_btn" href="{% url 'update' movie.title %}" style="float:right">Update</a>
  
  <h1>{{movie.title| title}} ({{movie.released.year}})</h1>
  
  <hr />
  <img  src="{{movie.poster}}" alt="no image found" style="width:350px; height:450px"></img>
  <div style="float:right; width:800px; height:450px;">
    <h6>{{movie.genre | capfirst }}</h6>
    <h5>{{movie.released}}</h5>
    <p>{{movie.plot}}</p>
    <ul>
      {% for actor in actors %}
      <li>{{actor | title}}</li>
      {% endfor %}
    </ul>
  </div>
  <hr>
</div>

{% endblock content %}
