{% extends 'base.html' %} {% block title %}
<title>My Profile</title>
{% endblock title %} 
{% load static %}
{% block content %}
<div class="container" style="margin-top: 80px">
  {% if user.is_authenticated %}
  <img style="vertical-align: middle;
  width: 100px;
  height: 100px;
  margin:20px;
  border-radius: 50%;" src="{% static 'images/avatar.png' %}" alt="profilepic"></img>
  <h1 style="display:inline-block">{{user.first_name|title}} {{user.last_name|title}}<small style="font-size:14px"> (Since {{user.date_joined.year}})</small></h1>
  <br />
  

  <div class="row justify-content-evenly">
    <div class="col-3" style="height: 600px">
      <div
        class="col-13"
        style="
          background-color:white;
          height: 350px;
          margin-bottom: 15px;
          border: 1px solid #b5b9cc;
          border-radius: 2%;
          overflow-y:auto; overflow-x:hidden;
        "
      >
        <h3 style="text-align: center; margin:15px">Movie Added</h3>     
        <div style="margin-left:12px;">
              {% for movie in movies %}
              <div style="margin-bottom:10px">
                  <a href="{% url 'one_movie' movie.title %}"><button class="btn btn-dark">{{movie.title|title}}</button></a>
              </div>
              {% endfor %}
            
        </div>     
      </div>
      <div
        class="col-13"
        style="height: 235px; background-color:white;
        border: 1px solid #b5b9cc; border-radius: 2%; overflow-y:auto; overflow-x:hidden">
        <h3 style="text-align: center; margin:15px">Watchlist</h3>
        <div style="margin-left:15px;">          
              {% for movie in watchlist %}
              <div style="margin-bottom:10px">
                <form method='POST'>
                  {% csrf_token %}
                <button type="submit" style="float:right; margin-right:20px;" name="watchlist,{{movie.movie.title}}" class="btn-close" aria-label="Close"></button>
                </form>
                <a href="{% url 'one_movie' movie.movie.title %}"><button class="btn btn-dark">{{movie.movie.title|title}}</button></a>
              </div>             
              {% endfor %}
            
        </div> 
      </div>
    </div>

      <div
        class="col-6"
        style="height: 600px; background-color:white; border: 1px solid #b5b9cc; border-radius: 1%;
        overflow-y:auto; overflow-x:hidden"
      >
        <h3 style="text-align: center; margin:15px">Timeline</h3>
        <div style="margin:15px">
          {% for obj in timeline %}
            {% if obj.type == "movie" %}
              <p style="font-size:18px"><i class="bi bi-person-circle"></i> <b>{% if request.user.username == obj.user.username %}You{% else %}{{obj.user.username}}{% endif %}</b> added a movie new movie. </p>
              <div class="card" style="width: 18rem; margin-left:20px;">
                <a href="{% url 'one_movie' obj.title %}"><img  src="{{obj.poster}}" class="card-img-top" alt="{{obj.title}}"></a>
                <div class="card-body">
                  <h5 class="card-title">{{obj.title|title}}</h5>
                </div>
              </div>
              <small style="font-size:12px">{{obj.event_time}}</small>
              <hr>     
            {% else %}
            <p style="font-size:18px"><i class="bi bi-person-circle"></i> <b>{% if request.user.username == obj.user.username %}You{% else %}{{obj.user.username}}{% endif %}</b> added a review for movie <b>{{obj.movie.title}}</b>. </p>
            <div class="accordion" id="accordionExample" style="margin-left:20px; margin-bottom:10px; margin-right:10px">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" style="color:black" data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne">
                    <strong>{{obj.review_summary|capfirst}}-({{obj.review_score}}/10)</strong>
                  </button>
                </h2>
                <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    {{obj.full_review|capfirst}}
                  </div>
                </div>
              </div>
            </div>
            <small style="font-size:12px">{{obj.event_time}}</small>
            <hr> 
            {% endif %} 
          {% endfor %}
        </div>
      </div>
      <div
        class="col-4"
        style="height: 600px; background-color:white; margin-left:10px; width: 290px; border: 1px solid #b5b9cc; border-radius: 2%"
      >
        <h3 style="text-align: center; margin:15px ">Reviews</h3>
        <div >      
            {% for review in reviews %}
              <div style="width:265px; background-color:#212428; height:60px; margin-bottom:10px; border: 1px solid gray; border-radius:5px;">
                <form method='POST'>
                  {% csrf_token %}
                  <button type="submit" style=" margin: 5px; padding: 0px 0px; float:right;" class="btn-close btn-close-white" name="review,{{review.full_review}},{{review.movie.title}}" aria-label="Close"></button>
                  <small style="margin-left:10px; color:#ffffff">{{review.time}}</small>
                  <hr style="margin-top:5px; color:#ffffff; margin-left:5px; margin-right:5px; margin-bottom:5px;">
                  <h6 style="font-size:16px; color:#ffffff; margin-left:10px;">{{review.movie.title}}-({{review.review_score}}/10) </h6>
                </form>
              </div>
            {% endfor %}            
        </div> 
      </div>
  </div>
    {% endif %}
  </div>
  {% endblock content%}
</div>
