{% extends 'base.html' %} {% block title %}
<title>Register</title>

{% endblock title %} {% block content %}

<div class="container" style="display: flex; margin-top: 80px">
  <br />
  <form
    action="{% url 'register' %}"
    id="register_form"
    method="POST"
    style="margin: auto"
  >
    <div
      style="
        width: 350px;
        height: 500px;
        margin: auto;
        border: 1px solid #2d2e30;
        border-radius: 2%;
        background-color: white;
      "
    >
      {% csrf_token %}
      <div
        class="content2"
        style="margin: 30px; text-align: center; background-color: white"
      >
        <h1>Register</h1>
        <br />
        <br />
        <div style="margin-top: 10px" required>{{user_form.first_name}}</div>
        <div style="margin-top: 10px">{{user_form.last_name}}</div>
        <div style="margin-top: 10px">{{user_form.username}}</div>
        <div style="margin-top: 10px">{{user_form.password}}</div>

        <button
          style="margin-top: 20px"
          name="register_btn"
          type="submit"
          class="btn btn-primary"
        >
          Register
        </button>
        <br />
        <hr />
        <h6>Arleady have an account? <a href="{% url 'login' %}"> Login</a></h6>
        <div>{{user_form.errors}}</div>
      </div>
    </div>
  </form>
</div>

{% endblock content %}
